.card {
  margin: 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 220px;
  object-fit: cover;
}

.card p {
  text-align: center;
  padding: 0.5rem;
  font-size: 1rem;
}

@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
}
